{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "presets": ["@babel/preset-react", "@babel/preset-env"]
}

// optional alternative to ts-loader: "@babel/preset-typescript"