{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx"
    // "@babel/plugin-transform-typescript"
  ],
  "presets": ["@babel/preset-react", "@babel/preset-env", "@babel/preset-typescript"]
}

// optional alternative to ts-loader: "@babel/preset-typescript"