node_modules
lib-esm
lib
_bundles
.eslintrc.js
.eslintignore
**/package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# demo
