@font-face {
  font-family: 'FV Almelo';
  src: url('FVAlmelo.woff2') format('woff2'),
      url('FVAlmelo.woff') format('woff'),
      url('FVAlmelo.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html,
body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #ffffff;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  position: relative;
}

body * {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C9E465;
  color: black;
}

button:hover {
  background-color: #b1c955;
  color: white;
}

header {
  font-family: 'FVAlmelo', Helvetica, Arial, sans-serif;
  background-color: black;
  color: #b1c955;
  margin: 0;
  padding: 25px 50px;
  height: 75px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

header h1 {
  margin: 0;
  text-align: right;
  color: #b1c955;
}

header a, footer a {
  color: inherit;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: white;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.LogoSection {
  background-color: black;
  color: white;
  padding: 75px 30px 30px 30px;
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LinksSection {
  background-color: #b1c955;
  color: white;
  padding: 30px;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#long-pitch {
  margin-top: 100px;
}

.repo-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.marketing-logo {
  margin: 0 10px;
}

.Demo {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.UserProfile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.PeriqlesForm {
  border: 1px solid black;
  width: 90%;
}

.PeriqlesForm, .PeriqlesForm * {
  border-radius: 10px;
}

.UserProfile-main {
  text-align:left;
  margin-top: 20px;
}

footer {
  font-family: 'FVAlmelo', Helvetica, Arial, sans-serif;
  background-color: black;
  color: #b1c955;
  margin: 50px 0 0 0;
  padding: 25px;
  height: auto;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

/* Relay/Apollo toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #b1c955;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b1c955;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1000px) {
  .LogoSection, .LinksSection {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 15%;
  }

  #long-pitch {
    margin-top: 10px;
  }

  .marketing-logo {
    margin: 0 20px;
  }

  .UserProfile {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .PeriqlesForm {
    width: 500px;
  }

  .UserProfile-main {
    margin: 0;
  }

  footer {
    text-align: left;
    padding-left: 15%;
  }

  #short-pitch, #long-pitch {
    max-width: 500px;
  }
}