.PeriqlesForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 3;   
  grid-gap: 20px; */
  margin: 1%;
}
label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* width: 10%; */
  width: 50%;
  margin: 2%;
  cursor: pointer;
}
.periqles-text {
  border-radius: 1em;
  padding: .5em;
  box-shadow: #00000029 0px 1px 4px;
  border: none;
  margin: 2%;
}

.periqles-radio {
  border: 2px solid black;
}

.periqles-checkbox {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.periqles-select {
  margin: 2%;
  border: none;
  border-radius: 1em;

}

/* can not style options */
.periqles-option {
  background-color: white;
  color: white;
  border-radius: 1em;

}

.periqles-password {
  margin: 2%;
  border-radius: 1em;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.periqles-number {
  margin: 2%;
  border-radius: 1em;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.periqles-date {
  margin: 2%;
  border-radius: 1em;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  font-family: inherit;
}

.periqles-email {
  margin: 2%;
  border-radius: 1em;
  padding: .5em 1em .5em 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.email-input {
  margin: 2%;
  border-radius: 1em;
  padding: .5em 1em .5em 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.periqles-textarea {
  margin: 2%;
  border-radius: 1em;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.periqles-tel {
  margin: 2%;
  border-radius: 1em;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.periqles-submit {
  display:inline-block;
  padding:0.5em 3em;
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 1em;
  width: 30%;
  box-sizing: border-box;
  text-decoration:none;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: royalblue;
  text-align:center;
  border: none;
  cursor: pointer;
}

.periqles-submit:hover {
  display:inline-block;
  padding:0.5em 3em;
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 1em;
  width: 30%;
  box-sizing: border-box;
  text-decoration:none;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: darkblue;
  border: 1px solid white;
  text-align:center;
  cursor: pointer;
  /* border: none; */
}



.periqles-url {
  margin: 2%;
  border-radius: 1em;
  padding: .5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
}

.periqles-file::-webkit-file-upload-button {
  visibility: hidden;
}
.periqles-file::before {
  content: "Upload file";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1em;
  border: 1px solid black;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  font-family: inherit;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.periqles-file:hover::before {
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.periqles-file:active::before {
  background: whitesmoke
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.periqles-button {
  display:inline-block;
  padding:0.5em 3em;
  margin: 2%;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: inherit;
  color: white;
  text-align:center;
  border: none;
}

.periqles-time{
  margin: 5%;
  border: none;
}

.periqles-color{
  background-color: transparent;
  border: none;
  border-radius: 1em;
  margin: 5%;
}

.periqles-color::before {
  content: "Pick a color";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #999;
  border-radius: 1em;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  font-family: inherit;
  margin: 5%;
}

.periqles-datetime-local{
  border: .5px solid black;
  font-family: inherit;
  font-weight: bold;
  padding: .12em;
  overflow: visible;
  border-radius: 1em;
  margin: 5%;
}

.periqles-range{
  color: gray;
}
