{
  "plugins": [
    ["relay", {"artifactDirectory": "./__generated__/relay/"}],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-typescript",
    "transform-react-jsx-img-import"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ]
}
